{
  "presets": [
    "env",
    "react",
    "stage-0",
  ],
  "plugins": [
    [
      "css-modules-transform",
      {
        "generateScopedName": "[name]",
        "extensions": [
          ".scss"
        ]
      }
    ]
  ]
}
