{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@emotion/babel-preset-css-prop"
  ],
  "plugins": [
    "emotion",
    "@babel/plugin-proposal-class-properties",
    ["react-docgen", {}, "react-docgen-storybook"]
  ]
}
