@import "../../../styles/variables";
@import "../../../styles/mixins";

$TagsWrapper: 'TagsWrapper';
.#{$TagsWrapper} {
  &__tags {
    position: relative;
  }

  &__tag {
    color: $color-denim;
    border: 1px solid;
    border-radius: 3px;
    display: inline-block;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0;
    font-family: $base-font-family;
    padding: 5px 8px;
    margin: 0 5px 5px;

    &:nth-child(4n+1) {
      background-color: tint($color-success, 65%);
      border-color: tint($color-success, 65%);
    }

    &:nth-child(4n+2) {
      background-color: tint($color-primary, 80%);
      border-color: tint($color-primary, 80%);
    }

    &:nth-child(4n+3) {
      background-color: tint($color-alert, 70%);
      border-color: tint($color-alert, 70%);
    }

    &:nth-child(4n+4) {
      background-color: tint($color-warning, 70%);
      border-color: tint($color-warning, 70%);
    }

    &.is-float {
      border-radius: 100px;
    }

    &[draggable="true"] {
      cursor: move;
    }

    &.is-disabled {
      cursor: default;
    }
  }

  &__remove_btn {
    padding: 4px 0 4px 14px;
    margin-left: 5px;
    cursor: pointer;
  }

  &__input {
    border-radius: 2px;
    display: inline-block;
    position: relative;
  }

  &__input_field {
    background-color: $_form-background-color;
    border: $base-border;
    border-radius: $base-border-radius;
    transition: border-color $base-duration $base-timing, box-shadow $base-duration $base-timing;
    font-size: 11px;
    padding: 5px 8px;
    text-transform: capitalize;
    width: 182px;

    &:hover {
      border-color: shade($base-border-color, 20%);
    }

    &:focus {
      border-color: $action-color;
      box-shadow: $_form-box-shadow;
      outline: none;
    }


    &.is-invalid {
      border-color: $color-warning;
    }
  }

  &__activeSuggestion {
    cursor: pointer;
  }

  &__suggestions {
    background-color: $white;
    box-shadow: 0 0 1px 0 rgba(10,31,68,0.08), 0 3px 4px 0 rgba(10,31,68,0.10);
    border-radius: $base-border-radius;
    margin-top: 5px;
    position: absolute;
    width: 200px;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
      padding: 5px 8px;

      li {
        font-size: 11px;
        line-height: 13px;
        font-family: $base-font-family;
        padding: 5px 0;
      }
    }

    &_active {
      background-color: tint($color-default, 70%);
      color: $color-primary;
    }
  }
}

